html {
    background-color: black;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
}

.titulo__texto {
    font-family: monospace;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}

.titulo__linha {
    border: 2px gold solid;
    width: 120px;
}

.titulo__texto--branco {
    color: rgb(0, 0, 0);
    font-family: monospace;
    text-transform: uppercase;
    font-size: 32px;
}

.titulo__linha--branca {
    border-color: rgb(0, 9, 255);
    width: 120px;
}